# Build
build/
bin/
obj/
*.xcode
*.vst3
*.component
*.app
*.exe
*.dll

# Allow pushing build artifacts in Releases folder
!Releases/
!Releases/**

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
